/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}



/* lectern.css https://github.com/mr-rigden/lectern
v0.0.1
License: MIT
Copyright: 2019 Jason Rigden
*/

html {
    background: black;
    color: white;
    font-family: "Jost";
    font-size: 5vw;
}

body {}

h1,
h2,
h3,
h4 {
    color: #ff0052;
    font-weight: 700;
    text-transform: uppercase;

}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

#container {
    background: black;
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url("background.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.slide {
    padding: .5rem;
}

.row {
    display: flex;

}

.row>div {
    flex: 1;

}


.row img {
    max-width: 100%;

}

.hidden {
    display: none;
}

.slide img {
    max-height: 9rem;
    width: auto;
    max-width: 100%;
}

.fullscreen {
    text-align: center;
    padding: 0px;
    background-color: black;
    height: 100vh;
}

.fullscreen img {
    width: 100vw;
    height: auto;
    max-height: 100vh;
}


.center {
    text-align: center;
}

.bigger {
    font-size: 150%;
}

.smaller {
    font-size: 50%;
}

table {
    width: 100vw;
    text-align: left;
    height: 1.5em;
}

th {
    border-bottom: 5px solid;
}

td {
    height: 1.5em;
    vertical-align: bottom;
    border-bottom: 1px solid;
}

video {
    height: 100vh;
    width: auto;
}



ul {
    list-style-type: disc;
    padding-top: .5rem;
    padding-left: .70rem;

}


ol {
    list-style-type: decimal;
    padding-top: .5rem;
    padding-left: 1.1rem;

}


code {
    margin-top: -1rem;
    font-family: 'Inconsolata', monospace;

    line-height: .70rem;


    font-size: 70%;
}

.hljs {
    padding-left: 0px;


}
